@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Exo:200|Source+Sans+Pro:300');
/* Desktop Styles */
body {
	background: #212121;
	font-family: 'Century Gothic', 'Exo', 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
}
h1 {
	font-family: 'Exo', 'Source Sans Pro', sans-serif;
	font-size: 40px;
	margin-top: 30px;
	padding-left: 20px;
	color: #5BD680;
}
h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #5BD680;
}
p {
	color: white;
}
a { 
	text-decoration : none; color : #ffffff;
}
a:hover {
	color: #5bd680;
}
.green {
	color: #5bd680;
}
section {
	width: 29%;
	float: left; 
	margin: 2% 2%;
	text-align: left;
	margin-bottom: 5%;
}
#about {
	width: 90%;
}
.portfolio {
	width: 16%;
	margin-top: 0;
}
.reflection {
	color: white;
	margin: 0;
}
#contact {
	width: 90%;
	margin-bottom: 2%;
}
#exam {
	width: 90%;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
}
footer {
	padding: 20px 0;
	padding-right: 20px;
	font-size: larger;
	display: inline-block;
	position: relative;
	float: right
}
#linkedinfoot {
	float: left;
	padding-right: 20px;
}
#instagramfoot {
	float: left;
	padding-right: 20px;
}
#text {
	float: right;
}
/* Navigation Main styles */
nav {
	background-color: #5BD680;
}
/* Removing margin, padding and listy styles from nav ul */
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	z-index: 9998;
}
nav ul li {
	display: inline-block;
}
nav a {
	display: block;
	color: #212121;
	font-size: 17px;
	text-decoration: none;
	padding: 14px 20px;
}
nav a:hover {
	background-color: #212121;
	color: #5bd680;
}
/* drowdown menu styles */
nav ul ul {
	display: none;
	position: absolute;
}
button {
	background-color: #5bd680;
	font-family: 'Century Gothic', 'Verdana', 'Arial',  serif;
	border: none
}
/* display dropdowns on hover */
nav ul li:hover > ul {
	display: inherit;
	background-color: #5BD680;
	width: 150px;
}
nav ul ul li {
	display: block;
}
.myStyle {
	display: block;
}
button {
	display: none;
}
/* slider styles*/
#doc {
	margin: 0 0; 
	padding-top: 10px;
	background: #ffffff;
}
#content {
	margin: auto auto; 
    max-width: 600px; 
    margin-top: 10px; 
}
.blueberry {
	max-width: 600px; 
	margin-top: 110px;

}
form {
	width: 460px;
}
/* Style all input boxes */
input, textarea {
	width: 460px;
	height: 27px;
	background: #5bd680;
	border: 1px solid #212121;
	padding: 10px;
	margin-top: 0px;
	margin-left: 22px;
	font-size: 0.9em;
	color: #000000;
	font-family: 'Century Gothic', 'Exo', 'Source Sans Pro', sans-serif;
	font-style: italic;
	/* Rounded borders for Mozilla */
	-moz-border-radius-top-left: 10px;
	-moz-border-radius-top-right: 10px;
	-moz-border-radius-bottom-right: 10px;
	-moz-border-radius-bottom-left: 10px;
	/* Rounded borders for Webkit */
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}
textarea {
	width: 460px;
	height: 140px;
}
/* Styling the input button */
input[type=submit] {
	width: 200px;
	background: #5bd680;
	cursor: pointer;
	padding: 5px;
	font-weight: bolder;
}
/* Styling placeholder text cross-browser */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
 font-size: 12px;
 color:#000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 font-size: 12px;
 color: #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 font-size: 12px;
 color: #000;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 font-size: 12px;
 color: #000;
}
::-ms-input-placeholder { /* Microsoft Edge */
 font-size: 12px;
 color: #000;
}

/* Responsive Styles with CSS media query */
@media all and (max-width : 768px) {
button {
	display: block;
	
}
nav {
	display: none;
	}
h1 {
	font-size: 20px;
	margin-top: 10px;
	text-align: left;
	width: 100%;
}
h2 {
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
	width: 100%;
}
section {
	float: left; 
	width: 100%;
	margin: 0; 
	padding: 0; 
	}
.portfolio {
	width: 90%;
}
.reflection {
	width: 90%;
}
form {
	width: 90%;
	margin-left: 5px;
}
input, textarea {
	width: 90%;
	margin-left: 5px;
}
textarea {
	width: 90%;
	margin-left: 5px;
}
img {
	max-width: 100%;
	max-height: 100%;
	}
footer {
	font-size: 15px; 
	width: 90%;
	margin: 0; 
	padding: 0;
}
footer a {
	width: 100%;
}
#linkedinfoot {
	width: 10%;
	height: 10%;
	}
#instagramfoot {
	width: 10%;
	height: 10%;
}
nav ul li {
	text-align: center;
	width: 100%;
	border-bottom: 1px solid white;
}
/* responsive dropdown styles */
nav ul li:hover > ul {
	position: static;
	background-color: seagreen;
	width: 100%;
}
#doc {
	position:inherit;
	max-width: 100%;
	max-height: 100%;
}
/* end media query */
}
